@use 'modules/base';
@use 'resources/commons';

main{
  h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .card {
    background-color: black;
    padding: 1.5vw;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    img {
      height: 20rem;
      width: 20rem;
      border-radius: 1vw 1vw 0 0;
      border: commons.$leaf solid 0.5vw;
      text-align: center;
      margin-bottom: 1rem;
    }

    figcaption {
      display: flex;
      justify-content: space-around;
      margin-top: revert;
      p{
        em{
          margin-right: 0.5rem;
        }
      }
    }
    margin-bottom: 2rem;
  }
  margin-left: 2rem;
  margin-right: 2rem;
}

footer{
  @include commons.footerStyle();
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  p{
    em{
      margin-right: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  @include commons.hideNav()
}