@use 'base';

main{
  .profile-short{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    img{
      width: 7rem ;
      height: 7rem;
      border: base.$leaf solid 0.20vw;
      border-radius: 1vw;
    }
    figcaption{
      height: 7rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      #nameplate{
        em{
          display: block;
          font-family: base.$bungee;
          font-size: 1.5rem;
          text-align: center;
          margin-top: 0.25vw;
        }
      }
      p{
        font-size: 1rem;
        em{
          margin-right: 0.5vw;
        }
      }
    }
    margin-bottom: 2rem;
  }
  article{
    h2{
      text-align: center;
      font-size: 1.50rem;
      margin-bottom: 0.5rem;
    }
    p{
      text-align: center;
      margin-bottom: 0.5vw;
      font-size: 1.25rem;
    }
    div{
      @include base.cardListing()
    }
  }
}

@media screen and (max-width: 600px){
  .profile-short{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    img{
      width: 7rem;
      border: base.$leaf solid 3px;
      border-radius: 1rem;
    }
    figcaption{
      height: 7rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      #nameplate{
        em{
          display: block;
          font-family: base.$bungee;
          font-size: 1.5rem;
          text-align: center;
          margin-top: 0.25rem;
        }
      }
      p{
        em{
          margin-right: 0.5rem;
        }
      }
    }
    margin-bottom: 2vw;
  }
}