@use 'base';

h2{
  @include base.subStyle(1.5rem);
}

main{
  @include base.columnListing(2rem);
  figure{
    margin-bottom: 1rem;
    @include base.figureHorizontal();
    img{
      @include base.pfStyle(10vw)
    }
    figcaption{
      margin-left: 2rem;
      @include base.figcapListing();
      h3{
        font-size: 1.25rem;
      }
    }
  }
}