@use 'modules/base';
@use 'resources/commons';

h2{
  @include commons.subStyle(1.5rem);
}

main{
  @include commons.columnListing(2rem);
  figure{
    margin-bottom: 1rem;
    @include commons.figureHorizontal();
    img{
      @include commons.pfStyle(5rem)
    }
    figcaption{
      margin-left: 2rem;
      @include commons.figcapListing();
      h3{
        font-size: 1.25rem;
      }
    }
  }
}