@use 'modules/base';
@use 'resources/commons';

main {
  .user {
    margin-top: 1rem;
    @include commons.figureHorizontal();
    justify-content: space-around;

    img {
      width: 7rem;
      height: 7rem;
      border: commons.$leaf solid 0.20vw;
      border-radius: 1vw;
    }

    figcaption {
      @include commons.figcapListing();
    }
  }

  article {
    h2 {
      @include commons.subStyle(1.5rem)
    }

    div {
      @include commons.cardListing()
    }
  }
}

footer {
  @include commons.footerStyle();
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

@media screen and (max-width: 600px) {
  @include commons.hideNav()
}